@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-sidebar {
    @apply absolute left-0 right-0 top-16 mx-auto
    backdrop-blur-sm
    origin-top overflow-hidden
    transition-[opacity,transform,max-height]
    duration-300 ease-in-out
    sm:hidden;
  }

  .footer-nav-link{
    @apply font-mono text-[#808080] ml-2 hover:text-slate-800 duration-200 ease-in-out
  }
  .header-nav-links{
    @apply relative inline-block pb-[7px] 
             after:content-[''] after:absolute after:left-0 after:bottom-0 
             after:h-[1px] after:w-0 after:bg-slate-900 
             after:transition-all after:duration-300 
             hover:after:w-[95%];
  }

  .submit-btn{
    @apply bg-slate-900 text-white box-border border border-transparent focus:ring-4 font-medium leading-5 text-sm px-4 py-2.5 focus:outline-none;
  }

  .checkbox{
    @apply w-4 h-4 border focus:ring-2 
  }

  .contact-label {
    @apply block mb-2.5 text-sm font-medium;
  }

  .contact-input {
    @apply border text-sm block w-full px-3 py-2.5;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
