@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-sidebar {
    @apply absolute left-0 right-0 top-16 mx-auto
    backdrop-blur-sm
    origin-top overflow-hidden
    transition-[opacity,transform,max-height]
    duration-300 ease-in-out
    sm:hidden;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(14deg);
    }
    30% {
        transform: rotate(-8deg);
    }
    40% {
        transform: rotate(14deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}